<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="UTF-8">
</head>
<body>
<p class="error_messages" th:if="${error}" th:text="|User ${error.message} You can create one below:|">
<p> Please give a User Name for your account </p>
<form action="/createuser" th:object="${user}" method="post">

    <label for="usernamecreate">Username</label>
    <input id="usernamecreate" type="text" th:field="*{name}">

    <input type="submit" value="Register">
</form>
</body>
</html>