<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Assignees</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="UTF-8">
</head>
<body>
<img src="assignees.png" alt="picture of assignee icons">
<h1> List of Assignees: </h1>
<button> <a href="/addassignee"> Add Assignee</a></button>
<button> <a href="/list"> Todo List</a></button>
<table>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Email </th>
    </tr>
    <tr th:each="assignee:${assignees}">
        <td th:text="${assignee.id}"></td>
        <td th:text="${assignee.name}"></td>
        <td th:text="${assignee.email}"></td>
        <td><button><a th:href="${assignee.id} + '/deleteassignee'">Delete</a></button></td>
        <td><button><a th:href="${assignee.id} + '/editassignee'">Edit</a></button></td>
    </tr>
</table>
</body>
</html>