<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit the doto</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="UTF-8">
</head>
<body>
<img src="wrench.png" alt="picture of a wrench icon">
<h1> Edit the Todo </h1>
<form th:object="${todo}" th:action="@{'/' + ${todo.getId()} + '/edit'}" method="post">

    <label for="title">Title</label>
    <input id="title" type="text" th:field="*{title}">

    <label for="content">Content</label>
    <input id="content" type="text" th:field="*{content}">

    <label for="description">Description</label>
    <input id="description" type="text" th:field="*{description}">

    <label for="urgent">Urgent</label>
    <input id="urgent" type="checkbox" th:field="*{urgent}">

    <label for="done">Done</label>
    <input id="done" type="checkbox" th:field="*{done}">

    <label for="dueDateSet">due date</label>
    <input id="dueDateSet" type="date" th:field="*{dueDate}">

    <label for="assigneeSelect">Select an Assignee</label>
    <select id="assigneeSelect" name="assigneeSelect">
        <option th:each="assignee:${assignees}" th:text="${assignee.name}" th:field="*{assignee}" th:value="${assignee.id}">
        </option>
    </select>

    <input type="submit">
</form>
</body>
</html>